.home {
  height: calc(100vh - 8rem);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;

      h2 {
        font-size: 3rem;
        color: rebeccapurple;
        letter-spacing: 1rem;
      }

      h1 {
        font-size: 8.8rem;
      }

      .buttons {
        display: flex;
        gap: 2rem;
        a {
          text-decoration: none;
          font-size: medium;
          z-index: 1000;
          transition: all 0.5 ease-in-out;
          &:hover {
            transform: scale(1.2);
            background-color: white;
            color: #0c0c1d;
          }
          padding: 2rem;
          border: 1px solid white;
          border-radius: 1rem;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 5rem;
      }
    }
    .imageContainer {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 80%;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        &:hover {
          filter: grayscale(1);
          transform: scale(0.9);
        }
      }
    }
  }

  .scrollButton {
    z-index: 1000;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -2rem;
    white-space: nowrap;
    width: 50%;
    font-weight: bold;
    color: #ffffff09;
  }
}
