.navbar {
  height: 8rem;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // padding: 2rem;
  }

  span {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: auto;
  }

  .socials {
    display: flex;
    gap: 2rem;

    img {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
